server:
  port: ${SERVER_PORT}
  servlet:
    #    context-path: /api
    context-path: /
spring:
  profiles:
    active: ${ACTIVE_PROFILE}
  jpa:
    hibernate:
  #      ddl-auto: update
      ddl-auto: ${DDL_AUTO}
    database: mysql
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: jdbc:${DB_DBMS}://${DB_HOSTNAME}:3306/${DB_NAME}?useLegacyDatetimeCode=false&serverTimezone=UTC&useSSL=false
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
security:
  oauth2:
    client:
      client-id: ${CLIENT_ID}
      client-secret: ${CLIENT_SECRET}
      access-token-uri: http://${APP_HOSTNAME}:${SERVER_PORT}/oauth/token
#    resource:
#      user-info-uri: http://${APP_HOSTNAME}:${SERVER_PORT}/api/v1/users/me
---
spring:
  profiles: development
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver

---
spring:
  profiles: production

---
spring:
  profiles: test
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

